name: Update Weather Data

on:
  workflow_dispatch:
  ## This could also be run on a schedule to update the weather data every morning
  ## so that we always have the latest weather information!
  # schedule:
  #   - cron: '0 7 * * *'

jobs:
  update_weather:
    name: Update Weather Data in Project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - run: npm ci
      - name: Update Weather Data
        run: node src/updateWeather.js
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.PROJECTS_TOKEN }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
